html{
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	text-decoration: none;
}

body{
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	text-decoration: none;
	background-color: var(--body-color);
	font-family: var(--font-family);
	transition: .3s ease-out;
}
*{
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul {
    list-style: none;
    word-wrap: break-word;
}
a{
	color: inherit;
	text-decoration: none;
}
img{
	max-width: 100%;
}

@-ms-viewport {
  width: auto !important;
}
* {
  box-sizing: border-box;
}
html {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
html,
input {
  font-family: var(--font-family);
}
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body {
  transition: 0.3s ease-out;
}
body > div {
  height: 100%;
}
body > ul {
  position: relative;
  height: 100%;
}
#loading_gif {
  position: fixed;
  top: 50%;
  left: 50%;
}


.chat-content-wrapper{
	width: 100%;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	text-decoration: none;
	transition: .3s ease-out;
	display: flex;
	justify-content: center;
	align-items: center;
}

.chat-content-wrapper .chat-main-content{
	width: 100%;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	text-decoration: none;
	transition: .3s ease-out;
    border-radius: 5px;
     border-radius: 5px;
    box-shadow: 0 20px 80px rgb(0 0 0 / 60%);
    animation: fadein 1s;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

	background-image: var(--chat-bg-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

@media (min-width: 581px){
.chat-content-wrapper .chat-main-content{
    position: absolute;
    width: 400px;
    height: 92%;
    max-height: 620px;
    left: 50%;
    top: 50%;
    margin-top: -310px;
    margin-left: -200px;
    transition: .3s ease-out;
    border-radius: 5px;
    box-shadow: 0 20px 80px rgb(0 0 0 / 60%);
    animation: fadein 1s;
}

}





/*/////chatArea/////*/
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--text-color1);
  opacity: 0;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--highlight-colour);
}


.chat-content-wrapper .conversation-container{
	display: flex;
    flex-direction: column;
    flex: 1 1;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    padding-bottom: 50px;
}


.chat-area {
	height: 100%;
    margin: 0;
    overflow-y: scroll;
    padding: 4px 4px 4px 8px;
    border-top-left-radius: 1.3em;
    border-top-right-radius: 1.3em;
}

.chat-area .messages {
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    word-wrap: break-word;
    border: none;
    outline: none;
    text-decoration: none;
}
.chat-area .message {
    font-size: 16px;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    display: inline-block;
    clear: both;
}


.chat-area .message-body{
	display: inline-block;
    background-color: var(--message-bot-bg-color);
    line-height: 1.2;
    font-size: var(--message-font-size);
    line-height: var(--message-text-line-height);
    font-family: var(--font-family);
    color: var(--message-bot-text-color);
    box-shadow: 0 0.4px 0.2px rgb(0 0 0 / 13%);
    word-break: break-word;
    padding: 12px 12px;
    margin: 3.2px;
    max-width: 75%;

}

@keyframes mbsc-anim-p-in {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@-webkit-keyframes mbsc-anim-p-in {
  from {
    opacity: 0;
    -webkit-transform: scale(0.8);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}
@keyframes mbsc-anim-p-out {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.8);
  }
}
@-webkit-keyframes mbsc-anim-p-out {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(0.8);
  }
}


.chat-area .message.bot .message-body{
    border-top-right-radius: 1.3em;
    border-bottom-left-radius: 1.3em;
    border-bottom-right-radius: 1.3em;
}

.chat-area .message.user .message-body{
	float: right !important;
	float: right !important;
    background-color: var(--message-user-bg-color);
    color: var(--message-user-text-color);
    border-bottom-left-radius: 1.3em;
    border-top-left-radius: 1.3em;
    border-bottom-right-radius: 1.3em;
}
.chat-area .message-body a{
	padding: 0;
	margin: 0;
}
.chat-area .message-body.image-box{
	padding: 0 !important;
	background-color: transparent;
}

.chat-area .message-body.image-box img {
    border-radius: 1.3em;
    border-top-left-radius: 3px;
}


.chat-area .chat-timestamp{
	width: 100%;
	padding: 4px 0 0 0;
	margin: 0;
	border: none;
	outline: none;
	font-size: 11px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	display: none;
}
.chat-area .chat-timestamp .date-time{
	display: inline-block;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	text-decoration: none;
	font-size: 11px;
	font-weight: 700;
	letter-spacing: 0.5px;
	opacity: 0.7;
}

.chat-area .message-body .text{
	width: 100%;
	display: inline-block;
	clear: both;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	padding-bottom: 4px;
	font-size: var(--message-font-size);
    line-height: var(--message-text-line-height);
    font-family: var(--font-family);
    color: inherit;

   opacity: 1;
  -webkit-animation-name: mbsc-anim-p-in;
  -webkit-animation-duration: 0.3s;
  -webkit-transform: scale(1);
  animation-name: mbsc-anim-p-in;
  animation-duration: 0.1s;
}
.chat-area .message-body .text a{
	display: inline-block;
	padding: 0;
	margin: 0;
}
.chat-area .message-body .text-span{
	width: 100%;
	display: inline-block;
	clear: both;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	font-size: var(--message-font-size);
    line-height: var(--message-text-line-height);
    font-family: var(--font-family);
    color: inherit;
}

.chat-area .message-body img{
	max-width: 100%;
	height: auto;
}
.chat-area .message-body video{
	max-width: 100%;
	height: auto;
}
.chat-area .message-body iframe{
	max-width: 100%;
	height: auto;
}
.message-body h1, .message-body h2, .message-body h3, .message-body h4, .message-body h5, .message-body h6 {
	width: 100%;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	text-decoration: none;
	padding-bottom: 8px;
	font-family: var(--font-family);
	color: inherit;
	font-weight: 700;
}
.message-body h1{
	font-size: 24px;
	padding-bottom: 16px;
}
.message-body h2{
	font-size: 22px;
	padding-bottom: 16px;
}
.message-body h3{
	font-size: 20px;
	padding-bottom: 16px;
}
.message-body h4{
	font-size: 18px;
	padding-bottom: 8px;
}
.message-body h5{
	font-size: 16px;
	padding-bottom: 8px;
}
.message-body h6{
	font-size: 14px;
	padding-bottom: 8px;
}

.message-body .slider-block{
	display: block;
	padding: 0 0;
	margin: 0;
	border: none;
	outline: none;
	text-decoration: none;
}
.message-body .slider-block .slider-title{
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 8px  0;
	margin: 0 0 8px 0;
	border: none;
	outline: none;
	text-decoration: none;
	border-bottom: 1px solid #ccc;
	font-size: 16px;
	line-height: normal;
}
.message-body .slider-block .slider-box{
	width: 100%;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	text-decoration: none;
	position: relative;
}
.message-body .slider-block .project-box{
	width: 100%;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	text-decoration: none;
	font-family: var(--font-family);
	font-size: var(--message-font-size);
	line-height: var(--message-text-line-height);
}
.message-body .slider-block .banner-image{
	width: 100%;
	padding: 0;
	margin: 0 0 8px 0;
	border: none;
	outline: none;
	text-decoration: none;
}
.message-body .slider-block .item-title{
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 8px  0;
	margin: 0 0 8px 0;
	border: none;
	outline: none;
	text-decoration: none;
	font-size: 16px;
	line-height: normal;
}

.owl-theme .owl-nav button{
    width: 32px;
    height: 32px;
    background-color: #ffffff !important;
    border-radius: 50% !important;
    position: absolute;
    top: 30%;
    margin-top: -16px !important;
    z-index: 999;
    cursor: pointer;
    box-shadow: 0px 2px 13px 0px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0px 2px 13px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 2px 13px 0px rgba(0,0,0,0.25);
}

.owl-theme .owl-nav button.owl-prev{
	left: 0;
	margin-left: -25px;
}
.owl-theme .owl-nav button.owl-next{
	right: 0;
	margin-right: -25px;
}

.message-body .item-title-wrap{
	width: 100%;
	padding: 0;
	margin: 0 0 8px 0;
	border: none;
	outline: none;
	text-decoration: none;
}

.message-body .item-options-wrap{
	width: 100%;
	padding: 0;
	margin: 0 0 8px 0;
	border: none;
	outline: none;
	text-decoration: none;
}

.message-body .options-list{
	width: 100%;
	padding: 8px 0 0 0;
	margin: 0;
	border: none;
	outline: none;
	text-decoration: none;
	list-style: none;
}

.message-body .options-list li{
	width: 100%;
	padding: 2px 0;
	margin: 0;
	border: none;
	outline: none;
	text-decoration: none;
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.message-body .options-list li a{
	width: 100%;
	display: inline-block;
	padding: 4px 16px;
	margin: 2px 0;
	border: none;
	background-color: var(--highlight-colour);
	color: var(--message-user-text-color);
	font-size: 15px;
	border-radius: 8px;
	text-align: center;
}



.chat-area  .quick-reply a:hover{
	text-decoration: none;
	background-color: var(--quick-reply-color1);
    color: var(--quick-reply-color2);
}

.icon-lists{
	width: 100%;
	padding: 8px 0;
	margin: 0;
	border: none;
	outline: none;
	text-decoration: none;
	list-style: none;
}
.icon-lists ul{
	width: 100%;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	text-decoration: none;
	list-style: none;
}

.icon-lists ul li{
	width: 100%;
	padding: 4px 0;
	margin: 0;
	border: none;
	outline: none;
	text-decoration: none;
	list-style: none;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	border-bottom: 1px solid #ccc;
	text-decoration: none;
	font-size: 16px;
	line-height: normal;
}

.icon-lists ul li img{
	max-height: 42px;
	padding: 0;
	margin: 4px;
	border: none;
	outline: none;
}

.youtube-video-box{
	position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.youtube-video-box iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% !important;
    min-width: 100%;
}

.chat-area .message-body.video-block{
	width: 100%;
	padding: 4px;
	border-radius: 4px !important;
}
.image-loader {
    width: 100%;
    height: 177px;
    background-color: #dadada;
    border-radius: 1.3em;
    border-top-left-radius: 3px;
    position: relative;
}
.image-loader-animation {
    position: absolute;
    top: 45%;
    right: 45%;
    margin: auto;
}
.text-loader {
    width: 100%;
    height: auto;
    background-color: transparent;
    border-radius: 1.3em;
    border-top-left-radius: 3px;
    position: relative;
    min-width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.text-loader-animation {
    position: static;
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
}

.dot {
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-right: 3px;
    background-color: var(--message-bot-text-color);
    animation: wave 1.3s linear infinite;
}

.chat-area .message.user .message-body .dot{
	background-color: var(--message-user-text-color);
}

#wave {
  position: relative;
  text-align: center;
  width: 32px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
}
.dot {
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-right: 3px;
  background-color: #000;
  animation: wave 1.3s linear infinite;
}
.dot:nth-child(2) {
  animation-delay: -1.1s;
}
.dot:nth-child(3) {
  animation-delay: -0.9s;
}
@keyframes wave {
  0%,
  100%,
  60% {
    transform: initial;
  }
  30% {
    transform: translateY(-10px);
  }
}


.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot{
	background: var(--message-bot-bg-color);
	color: var(--message-bot-text-color);
}
.owl-theme .owl-nav [class*='owl-']:hover{
	background: var(--message-user-bg-color);
    color: var(--message-user-text-color);
    text-decoration: none;
}


/*/////chatArea-end/////*/




/*/////create-newmessage/////*/

.chat-content-wrapper .create-newmessage{
    position: absolute;
    bottom: 0;
    height: auto;
    left: 0;
    padding-left: 0;
    width: 96%;
    margin:0 2%;
    background-color: transparent;
    margin-bottom: 8px;
    z-index: 9999;
}
.create-newmessage .input-containter{
	width: 100%;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	position: relative;
}
.create-newmessage .input-message{
    bottom: 0;
    height: 48px;
    outline: 0;
    color: #000;
    -webkit-opacity: 1;
    padding: 8px;
    margin: 0;
    border-radius: 50px;
    box-shadow: 1px 1px 4px grey;
    font-size: 13pt;
    width: 100%;
    padding-left: 48px;
    padding-right: 48px;
    background-color: #f1f1f1;
    border: 0;
}
.create-newmessage .send-button{
    top: 0;
    height: 48px;
    outline: 0;
    position: absolute;
    right: 0;
    width: 48px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 1.3em;
    background-color: transparent;
    border: 0;
    padding: 1px 6px 1px 6px;
    cursor: pointer;
    z-index: 999;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.create-newmessage .attachment-button{
    top: 0;
    height: 48px;
    outline: 0;
    position: absolute;
    left: 0;
    width: 48px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 1.3em;
    background-color: transparent;
    border: 0;
    padding: 1px 6px 1px 6px;
    cursor: pointer;
    z-index: 999;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*//////*/


.quick-reply{
	overflow: auto;
    font-size: 16px;
    position: static;
    bottom: 0;
    height: auto;
    left: 0;
    padding-left: 0;
    width: 100%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.quick-reply .quick-reply-list{
	list-style: none;
    word-wrap: break-word;
    text-align: center;
    padding: 8px;
    width: 90%;
    margin: 0 auto;
}
.quick-reply .quick-reply-list .quick-reply-item{
	width: 100%;
	display: inline-block;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	text-decoration: none;
}
.quick-reply .quick-reply-list .quick-reply-item .quick-massage-body{
	width: 100%;
	display: flex;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	text-decoration: none;
	justify-content: center;
	align-items: center;
}
.quick-reply .quick-reply-list .quick-reply-item  .massage_button{
	position: relative;
	width: 100%;
    display: block;
    margin-bottom: -1px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5.6px;
    box-shadow: 1px 1px 4px grey;
    border-width: 0;
    background-color: var(--message-user-bg-color);
    color: var(--message-user-text-color);
    margin: 4px;
    border-top-right-radius: 1.3em;
    border-bottom-left-radius: 1.3em;
    border-top-left-radius: 1.3em;
    border-bottom-right-radius: 1.3em;
    padding: 10px 12px;
    font-weight: 600;
}