html{
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	text-decoration: none;
}

body{
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	text-decoration: none;
	background-color: var(--body-color);
	background: var(--body-bg-image);
	background-size: cover;
	font-family: var(--font-family);
}
*{
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	text-decoration: none;
	list-style: none;
}
a{
	color: inherit;
	text-decoration: none;
}
img{
	max-width: 100%;
}

.chat-content-wrapper{
	width: 100%;
	padding: 40px 0 80px 0;
	margin: 0;
	border: none;
	outline: none;
	text-decoration: none;
}

/*////header/////*/
.chat-content-wrapper .header-wrap{
	width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    color: var(--text-color1);
    box-shadow: 0 1px 2px rgb(190 190 190 / 50%);
    background-color: var(--header-bg-color);
    max-width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.header-wrap .header-brand {
	width: auto;
	display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding-left: 15px;
}

.header-wrap .header-wrap-actions {
    display: flex;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
    padding-right: 15px;
}
.header-wrap .header-wrap-actions .header-icon-lists {
    display: flex;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    list-style: none;
    text-decoration: none;
}

.header-wrap-actions .header-icon-lists li{
	display: inline-block;
    padding: 0 8px;
    margin: 0;
    border: none;
    outline: none;
    list-style: none;
    text-decoration: none;
}

.header-wrap-actions .header-icon-lists a{
	display: inline-block;
	padding: 4px;
	margin: 0;
	border: none;
	outline: none;
	text-decoration: none;
	color: var(--highlight-colour);
	transition: 0.3s;
}
.header-wrap-actions .header-icon-lists a:hover{
	text-decoration: none;
	opacity: 0.7;
}

/*////header-end/////*/


/*/////footer/////*/

.chat-content-wrapper .footer{
    flex-shrink: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0 0 0;
    margin: 0;
    background-color: var(--footer-bg-color);
    color: var( --text-color1);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
}
.chat-content-wrapper .footer .footer-box{
	width: 90%;
    border: var(--footer-border);
    margin: 0 auto;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}
.footer-box .addon-button {
    display: flex;
    width: auto;
    padding: 0 4px;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
}

.footer-box .addon-button .btn{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0 2px;
    padding: 0;
    background-color: var(--light-bg-colour);
    height: 32px;
    width: 32px;
    min-height: 32px;
    min-width: 32px;
    border-radius: 50%;
    text-align: center;
    color: var(--text-color1);
    box-shadow: none !important;
}
.footer-box .addon-button .btn i{
	font-style: 22px;
	color: var(--highlight-colour);
	font-weight: bold;
}

.footer-box .post-message {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 15px;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
    max-width: 100%;
    position: relative;
}
.footer-box .post-message .post-message-text{
	width: 100%;
	display: flex;
	padding: 0;
	margin: 0;
	border: none;
    outline: none;
    text-decoration: none;
    padding-right: 50px;
}
.footer-box .post-message .post-message-text .input-message{
	width: 100%;
    height: 38px;
    padding: 4px 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: var(--footer-bg-color);
    color: var(--text-color1);
    font-style: 18px;
    font-family: var(--font-family);
}
.footer-box .post-message .send-button{
    background-color: var(--light-bg-colour);
    border-color: var(--light-bg-colour);
    border-style: solid;
    border-left-width: 0;
    border-top-width: 1.2px;
    border-bottom-width: 1.2px;
    border-right-width: 1.2px;
    top: 0;
    height: 48px;
    outline: 0;
    position: absolute;
    right: 0;
    width: 48px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    font-size: 22px;
    cursor: pointer;
    color: var(--highlight-colour);
}
.footer-box .post-message .send-button i{
	font-size: 22px;
	color: var(--highlight-colour);
}


.powered-by {
    font-size: 10px;
    text-align: center;
    padding: 5px 0;
    border-top: transparent;
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.powered-by a {
    color: #666666;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
}
.powered-by img {
    height: 12px;
    margin-left: 5px;
}

/*/////footer-end/////*/


/*/////chatArea/////*/

.chat-content-wrapper .conversation-container{
	display: flex;
    flex-direction: column;
    flex: 1 1;
    overflow-y: auto;
    height: calc(100vh - 120px);
}
.conversation-wrap {
	width: 100%;
    flex: 1 1;
    padding: 0;
    margin: 0;
    height: fit-content;
    border: none;
    outline: none;
    text-decoration: none;
}
.conversation-wrap .full-height-box .chatArea{
	width: 100%;
    height: 100%;
}

.conversation-wrap .messages {
    height: 100%;
    margin: 0;
    padding: 4px 8px 4px 8px;
    list-style: none;
    word-wrap: break-word;
    border-top-left-radius: 1.3em;
    border-top-right-radius: 1.3em;
}
.conversation-wrap .message {
    font-size: 16px;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    display: inline-block;
    clear: both;
}
.conversation-wrap .message-body{
	display: inline-block;
    background-color: var(--message-bot-bg-color);
    line-height: 1.2;
    font-size: var(--message-font-size);
    line-height: var(--message-text-line-height);
    font-family: var(--font-family);
    color: var(--message-bot-text-color);
    box-shadow: 0 0.4px 0.2px rgb(0 0 0 / 13%);
    word-break: break-word;
    padding: 8px 8px 4px 8px;
    margin: 8px;
    max-width: 75%;
}
.conversation-wrap .message.bot .message-body{
	border-radius: 2px 12px 12px 12px;
}

.conversation-wrap .message.user .message-body{
	float: right !important;
	float: right !important;
    background-color: var(--message-user-bg-color);
    color: var(--message-user-text-color);
    border-radius: 12px 2px 12px 12px;
}
.conversation-wrap .chat-timestamp{
	width: 100%;
	padding: 4px 0 0 0;
	margin: 0;
	border: none;
	outline: none;
	font-size: 11px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.conversation-wrap .chat-timestamp .date-time{
	display: inline-block;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	text-decoration: none;
	font-size: 11px;
	font-weight: 700;
	letter-spacing: 0.5px;
}

.conversation-wrap .message-body .text{
	width: 100%;
	display: inline-block;
	clear: both;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	padding-bottom: 4px;
	font-size: var(--message-font-size);
    line-height: var(--message-text-line-height);
    font-family: var(--font-family);
    color: inherit;
}
.conversation-wrap .message-body .text a{
	display: inline-block;
	padding: 0;
	margin: 0;
}
.conversation-wrap .message-body .text-span{
	width: 100%;
	display: inline-block;
	clear: both;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	font-size: var(--message-font-size);
    line-height: var(--message-text-line-height);
    font-family: var(--font-family);
    color: inherit;
}

.conversation-wrap .message-body img{
	max-width: 100%;
	height: auto;
}
.conversation-wrap .message-body video{
	max-width: 100%;
	height: auto;
}
.conversation-wrap .message-body iframe{
	max-width: 100%;
	height: auto;
}
.message-body h1, .message-body h2, .message-body h3, .message-body h4, .message-body h5, .message-body h6 {
	width: 100%;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	text-decoration: none;
	padding-bottom: 8px;
	font-family: var(--font-family);
	color: inherit;
	font-weight: 700;
}
.message-body h1{
	font-size: 24px;
	padding-bottom: 16px;
}
.message-body h2{
	font-size: 22px;
	padding-bottom: 16px;
}
.message-body h3{
	font-size: 20px;
	padding-bottom: 16px;
}
.message-body h4{
	font-size: 18px;
	padding-bottom: 8px;
}
.message-body h5{
	font-size: 16px;
	padding-bottom: 8px;
}
.message-body h6{
	font-size: 14px;
	padding-bottom: 8px;
}

.message-body .slider-block{
	display: block;
	padding: 0 16px;
	margin: 0;
	border: none;
	outline: none;
	text-decoration: none;
}
.message-body .slider-block .slider-title{
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 8px  0;
	margin: 0 0 8px 0;
	border: none;
	outline: none;
	text-decoration: none;
	border-bottom: 1px solid #ccc;
	font-size: 16px;
	line-height: normal;
}
.message-body .slider-block .slider-box{
	width: 100%;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	text-decoration: none;
}
.message-body .slider-block .project-box{
	width: 100%;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	text-decoration: none;
	font-family: var(--font-family);
	font-size: var(--message-font-size);
	line-height: var(--message-text-line-height);
}
.message-body .slider-block .banner-image{
	width: 100%;
	padding: 0;
	margin: 0 0 8px 0;
	border: none;
	outline: none;
	text-decoration: none;
}
.message-body .slider-block .item-title{
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 8px  0;
	margin: 0 0 8px 0;
	border: none;
	outline: none;
	text-decoration: none;
	font-size: 16px;
	line-height: normal;
}

.owl-theme .owl-nav button{
    width: 32px;
    height: 32px;
    background-color: #ffffff !important;
    border-radius: 50% !important;
    position: absolute;
    top: 50%;
    margin-top: -16px !important;
    z-index: 999;
    cursor: pointer;
    box-shadow: 0px 2px 13px 0px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0px 2px 13px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 2px 13px 0px rgba(0,0,0,0.25);
}

.owl-theme .owl-nav button.owl-prev{
	left: 0;
	margin-left: -36px;
}
.owl-theme .owl-nav button.owl-next{
	right: 0;
	margin-right: -36px;
}

.message-body .item-title-wrap{
	width: 100%;
	padding: 0;
	margin: 0 0 8px 0;
	border: none;
	outline: none;
	text-decoration: none;
}

.message-body .item-options-wrap{
	width: 100%;
	padding: 0;
	margin: 0 0 8px 0;
	border: none;
	outline: none;
	text-decoration: none;
}

.message-body .options-list{
	width: 100%;
	padding: 8px 0 0 0;
	margin: 0;
	border: none;
	outline: none;
	text-decoration: none;
	list-style: none;
}

.message-body .options-list li{
	width: 100%;
	padding: 2px 0;
	margin: 0;
	border: none;
	outline: none;
	text-decoration: none;
	list-style: none;
}

.message-body .options-list li a{
	display: inline-block;
	padding: 4px 16px;
	margin: 2px 0;
	border: none;
	background-color: var(--highlight-colour);
	color: var(--message-user-text-color);
	font-size: 15px;
	border-radius: 8px;
}


.quick-reply {
	-webkit-animation: scaleIn 1s cubic-bezier(0.68, -0.55, 0.265, 1.10);
    -moz-animation: scaleIn 1s cubic-bezier(0.68, -0.55, 0.265, 1.10);
    animation: scaleIn 1s cubic-bezier(0.68, -0.55, 0.265, 1.10);
    -webkit-transform-origin: left bottom;
    -moz-transform-origin: left bottom;
    -ms-transform-origin: left bottom;
    -o-transform-origin: left bottom;
    transform-origin: left bottom;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    clear: both;
    padding: 5px 30px 15px 30px;
    background: rgba(255, 255, 255, 0.5);
}
.quick-reply .quick-reply-item{
	display: inline-block;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	text-decoration: none;
}
.quick-reply a{
	white-space: normal;
    border-radius: 0 0;
    background-color: var(--quick-reply-color2);
    color: var(--quick-reply-color1);
    border: var(--quick-border);
    font-size: inherit;
    display: inline-block;
    margin: 8px;
    border-radius: 20px;
    padding: 8px 16px;
    min-width: 80px;
    margin-right: 5px;
    text-align: center;
    font-weight: 700;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
	transition: 0.3s;
}

.quick-reply a:hover{
	text-decoration: none;
	background-color: var(--quick-reply-color1);
    color: var(--quick-reply-color2);
}

.icon-lists{
	width: 100%;
	padding: 8px 0;
	margin: 0;
	border: none;
	outline: none;
	text-decoration: none;
	list-style: none;
}
.icon-lists ul{
	width: 100%;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	text-decoration: none;
	list-style: none;
}

.icon-lists ul li{
	width: 100%;
	padding: 4px 0;
	margin: 0;
	border: none;
	outline: none;
	text-decoration: none;
	list-style: none;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	border-bottom: 1px solid #ccc;
	text-decoration: none;
	font-size: 16px;
	line-height: normal;
}

.icon-lists ul li img{
	max-height: 42px;
	padding: 0;
	margin: 4px;
	border: none;
	outline: none;
}

.youtube-video-box{
	position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.youtube-video-box iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% !important;
    min-width: 100%;
}

.conversation-wrap .message-body.video-block{
	width: 100%;
	padding: 4px;
	border-radius: 4px !important;
}

/*/////chatArea-end/////*/